#wrapper{
  border: 2px solid black;
  padding:5px;
}

header{
  height: 100px;
  border: 2px solid black;
  padding:20px;


}

#main-body{

  height:485px;
  margin-top:5px;

}

#sidebar{
  height: 480px;
  width: 20%;
  float: left;
  border: 2px solid black;
  padding-left:10px;

}

#content{
  height: 480px;
  width: 78%;
  float: right;

}

#main{
  height: 371px;
  border: 2px solid black;
  padding-left:10px;

}

#main p{
  margin:0px;
}

#footer{
  height: 100px;
  border: 2px solid black;
  padding-left:10px;
  margin-top:5px;

}
